

.bg_blauw {
    background      : #46d;
}

.bg_lgrijs {
    background      : #ddd; 
}

.center {
    margin          : auto;
    width           : 50%;
}

.kl_blauw {
    color           : #46d;
}

.kl_dblauw {
    color           : #028;
}

.kl_dgrijs {
    color           : #444;
}

.kl_grijs {
    color           : #888;
}

.kl_oranje {
    color           : #f42;
}

.px-10 {
    font-size       : 10px;
}

.px-12 {
    font-size       : 12px; 
}

.px-14 {
    font-size       : 14px; 
}

.px-16 {
    font-size       : 16px; 
}

.px-20 {
    font-size       : 20px;
}

.px-24 {
    font-size       : 24px;
}

.px-28 {
    font-size       : 28px;
}

.rechts {
    text-align: right;
}
