#compilatie{
    opacity: 0.4;
    position: fixed;
    z-index: -1;
    width: 100%;
    height: 100%;
}

h1{
    color: black;
}
html, body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}
.pointer{
cursor:pointer;   
-webkit-touch-callout: none; 
-webkit-user-select: none; 
-khtml-user-select: none; 
-moz-user-select: none; 
-ms-user-select: none; 
user-select: none; 
}
#invite{
    display:none;
}
#status{
    margin-left:auto;
    margin-right:auto;
}
.queuestatus {
    width:40px;
    height:40px;
    background-color:grey;
    margin:10px;
    float:left
}
.accepted {
    background-color:green;
}
.declined {
    background-color:red;
}
h3{
    margin-top:0;
    padding-top:0;
}
#modalbg {
position: absolute;
z-index:100;
width:100%;
height:100%;
top:0;
left:0;
background-color:rgba(0,0,0,0.5);
display:none;
}
.selected {
    color:blue;
}
#modal {
width:350px;
height:230px;
position: relative;
margin-left:auto;
margin-right:auto;
margin-top:calc(50vh - 100px);
background-color:white;
box-sizing:border-box;
padding:20px;
-webkit-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
-moz-box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
box-shadow: 0px 0px 11px 0px rgba(0,0,0,0.5);
}
#invitebuttons {
display:none;
margin-left:10px;
margin-top:20px;
}
#confirmbuttons {
display:none;
margin-left:10px;
margin-top:20px;
}
#closebuttons {
display:none;
margin-left:10px;
margin-top:20px;
}
#hiddenform{
display:none;
}
.unavailable {
    color:red;
    cursor:default;
}