
/*   Classes   */

.ad-omschr {
    max-height      : 250px;
    overflow        : auto;
    color           : #025;
    background      : #ddd; 
}

.adv-form {
    padding         : 5px 50px 5px 50px;
}

.adv-fotolabel {
    margin-left     : 70px;
    font-size       : 16px;
}

.adv_foto-mpl {
    padding-left    : 10px;
    height          : 90px;
    width           : auto;
}

.adv-prijs {
    text-align      : right;
}

.adv-prijs_vanaf {
    margin          : 0 0 -10px 0;
}

.adv-tekst {
    max-width       : 100%; 
    padding         : 5px 20px 5px 20px;
    border          : 1px solid #bbb;
    border-radius   : 10px 10px 0 0;
}
.card-fotos {
    padding         : 10px;
}

.card-header-mpl {
    color           : white;
    background      : #46d;
    border-radius   : 20px 20px 0 0;  
}

.cardhdr-pos {
    padding-left    : 75px;
    font-size       : 16px;
    font-weight     : bold;
}

.card-title-mpl {
    font-weight     : bold;
    text-align      : center; 
}

.div-spel {
    float           : left;
    margin          : 10px;
    padding         : 10px;
/*    border          : 1px solid grey;   */
}

.droplist-mpl:hover {
    color           : white;
    background      : #46d;
}

.form-control {
    width: 80%;
}

.header-biedingen {
    color           : #24a;
}

.hor-lijn {
    margin-top      : 40px;
    width           : 80%;
    color           : #444;
}

.horizontal-scroll, #fotos {
    margin-right    : 20px;
    overflow        : auto;
    white-space     : nowrap;
}

.keuze-label {
    margin-top      : 50px;
    width           : 300px;
    padding         : 10px 20px 10px 20px;
    color           : #028;
    background      : #e4e4e4;
    font-size       : 24px;
    text-align      : center; 
    border          : 1px solid #028;
    border-radius   : 10px;
}

.knop-inlog {
    margin-top      : 60px;
    font-size       : 32px;
    font-weight     : bold; 
    height          : 200px;
    width           : 200px;
    border          : 1px solid #007bff;
    border-radius   : 50px;
    cursor          : pointer;
}

.knop-keuze {
    margin-top      : 60px;
    font-size       : 32px;
    font-weight     : bold; 
    height          : 300px;
    width           : 300px;
    border          : 1px solid #007bff;
    border-radius   : 50px;
    cursor          : pointer;
}

.knop-inlog:hover, .knop-keuze:hover {
    background      : #f42;
    border          : #f42;
}

.knop-mpl {
    padding         : 2px 10px 3px 10px;
/*    font-size       : 18px;  */
    color           : white;
    background      : #007bff;
    border          : 1px solid #007bff;
    border-radius   : 7px;
}

.img-spel {
    width           : 100%;
    height          : auto;
}

.imgSpel {
    width           : 50%;
    height          : auto;
}

.knop-spel {
    width           : 200px;
    height          : 200px;
    cursor          : pointer;
}

.label-spel {
    width           : 100%;
    color           : white;
    background      : #46d;
    font-weight     : bold;
    text-align      : center;
}

.navbar-mpl {
    color           : white;
    background      : #46d;
}

.prijs {
    font-size       : 20px;
    font-weight     : bold; 
    color           : #46d;
}

.tabel-header {
    color           : white;
    background      : #46d;
}

.tabel-header, .tabel-mpl {
    font-size       : 14px; 
}

.tabel-mpl tr:hover {
    color           : rgb(225, 85, 15);
}

/*   Id's   */

#advertentieknop {
    position        : absolute; 
    margin-top      : 180px;
/*
    padding         : 2px 10px 3px 10px;
    font-size       : 18px;
    color           : white;
    background      : #007bff;
    border          : 1px solid #007bff;
    border-radius   : 7px;
*/
}

#adv-foto:hover {
    position        : absolute;
    left            : 0;
    top             : 100px;
    width           : 100%;
    height          : auto;
    border          : solid white 10px;
    cursor          : pointer;
}

#advinv-btmlabel {
    margin          : 10px auto 10px 60px;
    font-size       : 14px;
    color           : #444;
}

#bieding {
    padding         : 0 10px 0 5px;
    width           : 90px;
    text-align      : right;
    color           : #24a;
    border-radius   : 5px;  
}

#file_to_upload {
    margin-left     : 50px;
}

#filterkey {
    margin-top      : 5px;
    padding         : 0;
    width           : 100px;
    height          : 30px;
    background      : #46d;
    border          : 1px solid #35c;
}

#fotocontainer {
    background      : #eee;
}

#fotos {
    margin          : 30px auto 0px 60px;
    width           : 85%;
    height          : 90px;
/*  border          : 1px solid grey; */
}

#hulpinfo {
    margin-top      : 60px;
    font-size       : 24px;
    color           : #028;
    text-wrap       : normal;
}
.hulpinfo {
    margin-top      : 60px;
    font-size       : 24px;
    color           : #028;
    text-wrap       : normal;
}
#hulptekst {
    float           : left;
    margin-top      : 10px;
    margin-left     : 5%;
    width           : 80%;
    font-size       : 24px;
    color           : #028;
    text-wrap       : normal;  
}

#overzichtstabel {
    max-height      : 200px;
    overflow        : auto;
}

#spel-pagina {
    margin-top      : 100px;
    margin-left     : 7.5%;
}

#titel {
    margin-left     : 250px;
    color           : white;
}

#upload_submit {
    margin-left     : 50px;
    padding         : 2px 10px 3px 10px;
    color           : white;
    background      : #007bff;
    border          : 1px solid #007bff;
    border-radius   : 7px;
    cursor          : pointer;
}


#actievespellen {
    margin-top      : 50px;
    margin-left     : 10%;
    padding-top     : 30px;
}

#actspelhdr {
    margin-left     : 10%;
    margin-bottom   : 30px;
    width           : 80%;
    font-weight     : bold;
    color           : #007bff;
    text-align      : center; 
}

#actspel_ihdr {
    font            : 24px;
    font-weight     : bold;
    color           : white;
    background      : #24a;
    text-align      : center;
}

#actspel_info {
    margin          : 0px;
    font            : 14px;
    color           : #24a;
    text-align      : center;
}

#actspelcard {
    margin-top      : 20px;
    margin-left     : 10%;
    width           : 80%;
    border          : 1px solid #007bff;
    border-radius   : 5px; 
}

#speler3, #speler4 {
    /* visibility      : hidden; */
    display         : none;
}

#spelerlabel3, #spelerlabel4 {
    /* visibility      : hidden; */
    display         : none;
}

#rol1, #rol2, #rol3, #rol4 {
    /* visibility      : hidden; */
    display         : none;
}

#rol_hdr {
    padding          : 0 50px;
    display          : none;
}

.spelknoppen {
    margin-top      : 10px;
    margin-left     : 0%;
    padding         : 5px 20px;
    width           : 100%;
    height          : 60px;
    font-size       : 20px;
    font-weight     : bold;
    color           : white;
    background      : #007bff;
    border          : 1px solid #007bff;
    border-radius   : 5px; 
    text-wrap       : unrestricted;
}

.spelknoppen:hover {
    text-decoration : none; 
    background      : #f42;
    border          : 1px solid #f42;
    cursor          : pointer;
}

#form_speleruitnodigen {
    width: 90%;
    padding: 20px;
    background: #ddd;
    border: 1px solid #bbb;
    border-radius: 10px;
}

#speluitnodigenknop {
    margin-left     : auto;
    margin-top      : 25px;
    width           : 50%;
    padding         : 3px 10px;
    font-weight     : bold;
    color           : white;
    background      : #007bff;
    border          : 1px solid #007bff;
    border-radius   : 5px; 
}